 @model IEnumerable<Categories> //هذه البيانات يتم استقبالها من الكلاس كتيقوريز

@{
    
    Layout="/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="modal" tabindex="-1" id="del">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تأكيد الحذف</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>هل بالفعل تريد حذف هذا السجل؟</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء الأمر</button>
        <button type="button" class="btn btn-danger" onclick="confirmdelete1()">حذف</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row mt-5">

        <div class="col">
            <div class="card mt-5">
                <div class="card-body">
                    <form asp-action="CreateNewCategories" method="POST">
                        <div class="row">
                            <div class="col">
                                <label class="form-lable">اسم الفئة</label>
                                <input type="text" name="Name" class="form-control">
                            </div>

                            <div class="col">
                                <label class="form-lable">وصف الفئة</label>
                                <input type="text" name="Description" class="form-control">
                            </div>


                                  <div class="row">
                            <div class="col">
                                <label class="form-lable">الأيقونة </label>
                                <input type="text" name="Icon" class="form-control">
                            </div>

                            <div class="col">
                                <label class="form-lable">الرابط</label>
                                <input type="text" name="Url" class="form-control">
                            </div>

                            <div class="row mt-5">
                                <div class="col text-center">
                                    <button type="submit" class="btn-hover color-1">حفظ</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>



    </div>


    <div id="categoriescontainer">
        @Html.Partial("_partial/_CategoriesPartialData", Model)
    </div>

</div>
